.App {
  @import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
  text-align: center;
  font-family: 'Fira Sans', sans-serif;
  color: #1B1B1B;
}
.Home{
  padding-left: 15px;
  padding-right: 15px;
}
.Home p, li, h6{
  font-size: 14px;
  color: #797979;
  text-align: left;
}




